tr.goal:nth-child(even) {
    background-color: #f18f50;
    border :0;
}
tr.goal:nth-child(odd) {
    background-color: #f8bd83;
    border : 0;
    
}
hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(255, 0, 0);
    margin: 1em 0; padding: 0;
    visibility: hidden;
}


